# Python bytecode
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
build/
dist/

# Environment / secrets
.env

# Raw downloaded data
data/raw/

# Pytest
.pytest_cache/